body {
    padding-left: 25px;
    padding-right: 25px;
}

.header {
    text-align: center;
    font-size: 65px;
    color: #6d6e70
}

.well {
    background-image: none;
    background-color: aliceblue;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 36px;
    padding-right: 40px;
    padding-left: 40px;

}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt30 {
    padding-top: 30px !important;
}

.mr20 {
    margin-right: 20px;
}

.enonic-logo img {
    max-height: 110px;
}

.weathericon {
    height: 65px;
}

.temperature {
    font-size: 45px;
}

.weather-city {
    color: darkblue;
}

.updated {
    text-align: right;
    color: cornflowerblue;
    margin-right: -30px;
}

.description {
    font-size: 24px;
}

.bold-text {
    font-weight: bold;
}

.pressure, .humidity, .wind-speed, .wind-direction {
    margin-left: -15px;
}

.flex-container {
    display: flex;
    width: 100%;
    padding-left: 0px;
    padding-right: 0;
}
.flex-item {
    padding: 16px;
    flex-direction: column;
    margin: 15px;
}