body {
    max-width: 1600px;;
}

.header {
    text-align: center;
    font-size: 65px;
    color: #6d6e70
}

.header .well {
    background-image: none;
    background-color: aliceblue;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.enonic-logo img {
    max-height: 110px;
}

.weathericon {
    height: 65px;
}

.temperature {
    font-size: 45px;
}

.weather-city {
    color: darkblue;
}

.updated {
    text-align: right;
    color: cornflowerblue;
    margin-right: -30px;
}

.description {
    font-size: 24px;
}

.bold-text {
    font-weight: bold;
}

.pressure, .humidity, .wind-speed, .wind-direction {
    margin-left: -15px;
}